/* ---------------------------------- */
/* ABOUT PAGE */
/* ---------------------------------- */

.profile-img {
  float: left;
  margin-right: 20px;
}

blockquote {
  text-align: center;
  padding-top: 20px
}

blockquote p {
  font-family: "Pacifico", cursive;
  font-size: 25px;
}
