/* ---------------------------------- */
/* CONTACT PAGE */
/* ---------------------------------- */

.contact {
  background: url('../images/background-8.jpg') no-repeat;
  background-size: cover;
}

.contact-form {
  width: 600px;
  margin: 10px auto;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  font-family: "Open Sans";
  font-size: 1.3em;
  color: #474747;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.contact-form textarea {
  height: 100px;
}

textarea:focus,
input:focus {
  outline: 0;
  border: solid 1px #bf6d50;
}

.contact-form button {
  border: solid 1px #ccc;
  padding: 11px 30px;
  margin: 0 0 20px;
  font-family: "Open Sans";
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #474747;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #ddd, #aaa);
  background-image: linear-gradient(top, #ddd, #aaa);
}
