/* ---------------------------------- */
/* HOME PAGE */
/* ---------------------------------- */

.home {
  background: url(../images/background-6.jpg) no-repeat;
  background-size: cover;
}

.home header {
  position: static;
  background: transparent;
  border-bottom: none;
  text-align: center;
  padding-top: 100px;
}

.home header h1 {
  font-size: 120px;
}

.home header h2 {
  font-size: 40px;
}
