/* ---------------------------------- */
/* Defaults and Resets */
/* ---------------------------------- */

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

h1 {
  font-family: "Nixie One", serif;
}

h1, h2 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

a {
  color: #bf6d50;
  text-decoration: none;
}

header,
section {
  padding: 20px 30px;
}


/* ---------------------------------- */
/* HEADER */
/* ---------------------------------- */

header {
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 1px solid #eee;
  width: 100%;
}

header h1 {
  font-size: 36px;
}

header h2 {
  font-size: 18px;
}

section {
  padding-top: 125px;
}

/* ---------------------------------- */
/* Navigation */
/* ---------------------------------- */

nav {
  position: absolute;
  right: 20px;
  top: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 5px 15px;
  text-transform: uppercase;
}


/* ---------------------------------- */
/* Utilities */
/* ---------------------------------- */

.highlight {
  color: #bf6d50;
}

.clearfix {
  clear: both;
}

.right-align {
  float: right;
}
